<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


    <!-- 调用set方法赋值后会调用myInit方法    myDestory方法最后调用-->
    <bean name="life" class="com.lucky.bean.Life" init-method="myInit" destroy-method="myDestory">
        <property name="name" value="tom"></property>
    </bean>
</beans>