<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/css/datagrid.css"/>

<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/datagrid.js" type="text/javascript"></script>
<script src="/js/moment-with-locales.js" type="text/javascript"></script>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-tasks"></i> 任务列表
            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-default btn-xs" href="task/add" title="添加">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-inline" role="form">
                <div class="form-group form-group-sm">
                    <label>名称</label>
                    <input class="form-control" name="name" value="" style="width:350px" placeholder="任务名称">
                </div>
                <div class="form-group form-group-sm">
                    <label>执行器</label>
                    <input class="form-control" name="executor" value="" style="width:350px" placeholder="执行器名称">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">查询</button>
            </form>
        </div>

        <table id="table_records" class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>名称</th>
                <th>说明</th>
                <th>执行器</th>
                <th>触发器</th>
                <th>状态</th>
                <th>修改人</th>
                <th class="datetime">修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <a href="/task/edit?name=AdjustPriceTask">AdjustPriceTask</a></td>
                <td>定时调价任务</td>
                <td><a href="/task/list?executor=mx.ticket.snack.task">mx.ticket.snack.task</a></td>
                <td>
                    <div>0 0 * * * * *</div>
                </td>
                <td>停用</td>
                <td>傻蛋</td>
                <td>2017-08-12 13:06:09</td>
                <td data-task-name="AdjustPriceTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=AlertTask">AlertTask</a></td>
                <td>消息订阅阻塞报警任务</td>
                <td><a href="/task/list?executor=alert-task">alert-task</a></td>
                <td>
                    <div>0 0 1 1 *</div>
                </td>
                <td>停用</td>
                <td>傻蛋</td>
                <td>2016-10-18 18:37:06</td>
                <td data-task-name="AlertTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=AlipayBillTask">AlipayBillTask</a></td>
                <td>支付宝数据对账统计</td>
                <td><a href="/task/list?executor=mx.payment.admin.task">mx.payment.admin.task</a></td>
                <td>
                    <div>0 10 * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-05-13 10:20:51</td>
                <td data-task-name="AlipayBillTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiBusiAgentTask">ApiBusiAgentTask</a></td>
                <td>第三方查询渠道信息</td>
                <td><a href="/task/list?executor=mx.business.api.task">mx.business.api.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 14:27:57</td>
                <td data-task-name="ApiBusiAgentTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiBusiWhiteListTask">ApiBusiWhiteListTask</a></td>
                <td>第三方查询渠道白名单</td>
                <td><a href="/task/list?executor=mx.business.api.task">mx.business.api.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:27:16</td>
                <td data-task-name="ApiBusiWhiteListTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiCinemaHallSeatTask">ApiCinemaHallSeatTask</a></td>
                <td>第三方查询影院影厅座位图</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:27:31</td>
                <td data-task-name="ApiCinemaHallSeatTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiCinemaLimitTask">ApiCinemaLimitTask</a></td>
                <td>第三方查询渠道影院影厅限制定时任务</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:27:47</td>
                <td data-task-name="ApiCinemaLimitTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiCinemaShowTask">ApiCinemaShowTask</a></td>
                <td>第三方查询排期场次列表</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 16:02:27</td>
                <td data-task-name="ApiCinemaShowTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiCinemaTask">ApiCinemaTask</a></td>
                <td>第三方查询影院影厅</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-10 09:56:17</td>
                <td data-task-name="ApiCinemaTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiFilmTask">ApiFilmTask</a></td>
                <td>第三方查询影片列表</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:28:05</td>
                <td data-task-name="ApiFilmTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiPlatformsFeeTask">ApiPlatformsFeeTask</a></td>
                <td>第三方渠道平台服务费任务</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-10-12 15:19:24</td>
                <td data-task-name="ApiPlatformsFeeTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiPlatformsTask">ApiPlatformsTask</a></td>
                <td>第三方查询所有平台信息</td>
                <td><a href="/task/list?executor=mx.business.api.data.task">mx.business.api.data.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 15:38:13</td>
                <td data-task-name="ApiPlatformsTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiRealSeatTask">ApiRealSeatTask</a></td>
                <td>第三方查询实时座位图</td>
                <td><a href="/task/list?executor=mx.business.api.trade.task">mx.business.api.trade.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:28:57</td>
                <td data-task-name="ApiRealSeatTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ApiShowLimitTask">ApiShowLimitTask</a></td>
                <td>第三方缓存渠道影院影厅购票限制</td>
                <td><a href="/task/list?executor=mx.business.api.trade.task">mx.business.api.trade.task</a></td>
                <td>
                    <div>*/15 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-03 18:29:15</td>
                <td data-task-name="ApiShowLimitTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ArchiveOrderTask">ArchiveOrderTask</a></td>
                <td>订单归档</td>
                <td><a href="/task/list?executor=mx.order.poly.task">mx.order.poly.task</a></td>
                <td>
                    <div>0 5 * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-06-27 10:59:47</td>
                <td data-task-name="ArchiveOrderTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ArchiveSmsTask">ArchiveSmsTask</a></td>
                <td>短信记录归档</td>
                <td><a href="/task/list?executor=mx.common.sms.task">mx.common.sms.task</a></td>
                <td>
                    <div>40 2 1 * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-06-02 10:02:42</td>
                <td data-task-name="ArchiveSmsTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=ArchiveTask">ArchiveTask</a></td>
                <td>电子码清理任务</td>
                <td><a href="/task/list?executor=ecode-task">ecode-task</a></td>
                <td>
                    <div>2 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-08-01 15:17:56</td>
                <td data-task-name="ArchiveTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=BackupExpiredPromoTask">BackupExpiredPromoTask</a></td>
                <td>促销数据备份，促销结束N天后执行</td>
                <td><a href="/task/list?executor=mx.ticket.promo.task">mx.ticket.promo.task</a></td>
                <td>
                    <div>0 0 2 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-05-24 13:18:50</td>
                <td data-task-name="BackupExpiredPromoTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=BiOrderTask">BiOrderTask</a></td>
                <td>定时拉取订单数据到hbase表中 用于统计</td>
                <td><a href="/task/list?executor=mx.bi.order.task">mx.bi.order.task</a></td>
                <td>
                    <div>1 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-10-12 12:55:43</td>
                <td data-task-name="BiOrderTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=BiScheduleTask">BiScheduleTask</a></td>
                <td>定时拉取排期基础数据到hbase表中 用于排期统计</td>
                <td><a href="/task/list?executor=mx.bi.order.task">mx.bi.order.task</a></td>
                <td>
                    <div>30 0 * * *</div>
                    <div>10 6 * * 1</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-08-11 09:36:43</td>
                <td data-task-name="BiScheduleTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=BillPullTask">BillPullTask</a></td>
                <td>账单任务</td>
                <td><a href="/task/list?executor=mx.finance.bill.task">mx.finance.bill.task</a></td>
                <td>
                    <div>0 5 * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-01-17 13:57:04</td>
                <td data-task-name="BillPullTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=CacheApiComingMovieTask">CacheApiComingMovieTask</a></td>
                <td>API-热映缓存操作</td>
                <td><a href="/task/list?executor=mx.api.statics.task">mx.api.statics.task</a></td>
                <td>
                    <div>*/30 * * * *</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2017-07-01 20:15:36</td>
                <td data-task-name="CacheApiComingMovieTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=CacheApiHotMovieTask">CacheApiHotMovieTask</a></td>
                <td>API-热映缓存操作</td>
                <td><a href="/task/list?executor=mx.api.statics.task">mx.api.statics.task</a></td>
                <td>
                    <div>*/30 * * * *</div>
                </td>
                <td>启用</td>
                <td>荣红飞</td>
                <td>2017-10-11 15:38:21</td>
                <td data-task-name="CacheApiHotMovieTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=CardBatchAvailableTask">CardBatchAvailableTask</a></td>
                <td>会员卡系统,卡批次可用量统计并更新可用状态的任务</td>
                <td><a href="/task/list?executor=mx.mcard.task">mx.mcard.task</a></td>
                <td>
                    <div>0 0 1 * * * ?</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-07-25 18:51:36</td>
                <td data-task-name="CardBatchAvailableTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/task/edit?name=CardBatchExpiredTask">CardBatchExpiredTask</a></td>
                <td>会员卡系统,卡批次过期执行任务</td>
                <td><a href="/task/list?executor=mx.mcard.task">mx.mcard.task</a></td>
                <td>
                    <div>0 0 2 * * * ?</div>
                </td>
                <td>启用</td>
                <td>傻蛋</td>
                <td>2016-07-26 09:55:48</td>
                <td data-task-name="CardBatchExpiredTask">
                    <button data-action="delete-task" class="btn btn-danger btn-xs" type="button" title="删除">删除</button>
                    <button data-action="execute-task" class="btn btn-warning btn-xs" type="button" title="执行">执行
                    </button>
                    <button data-action="copy-task" class="btn btn-info btn-xs" type="button" title="复制">复制</button>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="panel-footer">


            <span>共 359 条记录</span>
            <nav class="pull-right">
                <ul class="pagination pagination-sm">
                    <li class="disabled"><span>首页</span></li>
                    <li class="disabled"><span>上页</span></li>
                    <li class="active"><a href="?pi=1">1</a></li>
                    <li><a href="?pi=2">2</a></li>
                    <li><a href="?pi=3">3</a></li>
                    <li><a href="?pi=4">4</a></li>
                    <li><a href="?pi=5">5</a></li>
                    <li><a href="?pi=6">6</a></li>
                    <li><a href="?pi=7">7</a></li>
                    <li><a href="?pi=2">下页</a></li>
                    <li><a href="?pi=15">尾页</a></li>
                </ul>
            </nav>

        </div>
    </div>

</div>

